body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(50deg,rgb(0, 0, 0),rgb(143, 93, 143));
    display: flex;
}
form{
    display: flex;
    justify-content: center;
    background-color:white;
    border-radius: 20px;
    /* padding: 20px; */
    
    
}

button{
    margin-left: 120px;
    justify-content: center;
}
#Reset{
                
    padding-left: 3px;
    
} 
.logo{
    height: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(50deg, white, red);
    border-radius: 10px;
}
.logo img{
    height: 7em;
    box-shadow: 0 0.6em 1.8em ;
    border-radius: 10px;
}
.content{
    padding: 20px;
    
}



.link{
    height: 5rem;
    
    
    background-image: linear-gradient(30deg, white, red);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* text-decoration: none; - reduce excess of image */
.link a{
    padding-left: 10px;
    
    text-decoration: none;
    color: gray;
    font-size: 2.5rem;
    
    
}