body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(50deg,rgb(0, 0, 0),rgb(143, 93, 143));
    display: flex;
}
form{
    
    background-color:whitesmoke;
    border-radius: 20px;
    padding: 20px;
}
h1{
    color: rgb(245, 4, 109);
    text-align: center;
}
button{
    margin-left: 120px;
    justify-content: center;
}
div{
                
    padding-left: 5px;
    
} 